.sidebar {
    padding: 1.5rem 3rem 1.5rem 3rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar input {
    width: 25rem;
}

.card-field {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 2rem 10% 2rem 10%;
    gap: 2rem;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-container button {
    font-size: 18px;
}

.results-card {
    padding: .5rem;
    max-width: 215px;
}

.results-box {
    width: 100%;
}

#results-columns {
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    gap: 2rem;
    padding: 2rem;
}

.selected {
    width: 100%;
    text-align: center;
}

.selected h3 {
    margin: 1rem 0 0 0;
    padding: .5rem;
    background-color: maroon;
    color: white;
    
}