.sidebar {
    padding: 1.5rem 3rem 1.5rem 3rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar input {
    width: 25rem;
}

.card-field {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 2rem 10% 2rem 10%;
    gap: 2rem;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-container button {
    font-size: 18px;
}